@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.hover-opacity {
	transition: opacity .5s;
}

.hover-opacity:hover {
	opacity: 0.7;
}

.ltr-effect, .tb-effect  {
	position: relative;
}

 .ltr-effect:after, .tb-effect:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color:transparent;
	z-index: -1;
} 
.ltr-effect:after {
	width: 0;
	transition: width 0.5s;
}
.tb-effect:after {
	height: 0;
	transition: height 0.5s;
}
 .ltr-effect:hover:after {
	width: 100%;
}
.tb-effect:hover:after {
	height: 100%;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    height: #80a717, #6195ff;
    margin: 0px;
    font-family: Helvetica;
    background-color:  #0a3b7c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section-header {
	text-align: center;
	margin-bottom: 20px;  
}

.section-header .section-title {
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.section-header .line {
	display: block;
	height: 2px;
	width: 100px;
	background-color: #6195ff;
	margin-bottom: 10px;
	margin: 0px auto 70px auto;
}

.header-content {
	overflow: hidden;
} /* to solve flot problem*/


/* Heder section */

.header {
	background-color: transparent;
	width: 100%;
	z-index: 10;
}
.header .logo {
	width: 40%;
	height: 20%;
	font-size: 25px; 
	font-weight: bold;
	float: left;
	padding-top: 25px; 
	color: #fff;
	padding-left: 40px;
}
.header .nav {
	width: 60%;
	float: left;
	list-style: none;
}
.header .nav li {
	display: inline-block;
	margin-right: 30px;
}
.header .nav li a {
	font-size: 12px;
	color: #80a7f7;
	text-decoration: none;
	display: block;
	padding: 30px 10px;
}
.header .nav li a:after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background-color: #6195ff;
	transition: width 0.5s;
	margin-top: 3px;
}
.header .nav li a:hover:after {
	width: 100%;
}

body , h1 , h2, h3 , h4 , h5 , h6 , button {
    font-family:'Roboto Flex', sans-serif;
}
#logo{
   font-family: 'Sacramento', sans-serif;
   width: 100px;
}
.header .logo {
	width: 40%;
	height: 20%;
	font-size: 25px; 
	font-weight: bold;
	float: left;
	padding-top: 25px; 
	color: #fff;
	padding-left: 40px;
}
.header .nav {
	width: 60%;
	float: left;
	list-style: none;
}
.header .nav li {
	display: inline-block;
	margin-right: 30px;
}
.header .nav li a {
	font-size: 12px;
	color: #80a7f7;
	text-decoration: none;
	display: block;
	padding: 30px 10px;
}
.header .nav li a:after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background-color: #6195ff;
	transition: width 0.5s;
	margin-top: 3px;
}
.header .nav li a:hover:after {
	width: 100%;
}
header{
    background: #1B4F72;
    padding: 24px;

}

nav{
    margin: auto;
}

.home{
    margin-left: 3%;
    font-weight: bold;


}

a{
    font-size: 20px;
    margin: 10px;
    color: white;
    text-decoration: none;

}

.right{
    margin-left: 70%;
}

.container{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.admini{
    display: flex;
}

.card{
    width: 70%;
    min-height: #80a717;
    background-color:#62727c;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}



.text{
    font-size: 20px;
    margin-left: 3%;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    a, .container{
        font-size: 18px;
    }

    h3{
        font-size: 18px;

    }
}

@media screen and (max-width: 490px){

    a{
        font-size: 16px;

    }

    .card{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 295px){

    a{
        font-size: 15px;

    }
}