
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body , h1 , h2, h3 , h4 , h5 , h6 , button {
	font-family: 'Poppins', sans-serif;
}
#logo{
	font-family: 'Sacramento', sans-serif;
	width: 100px;
}
.header-content {
	overflow: hidden;
}
.header {
	background-color: transparent;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.header .logo {
	width: 40%;
	height: 20%;
	font-size: 25px;
	font-weight: bold;
	float: left;
	padding-top: 25px;
	color: #fff;
	padding-left: 40px;
}
.header .nav {
	width: 60%;
	float: left;
	list-style: none;
}
.header .nav li {
	display: inline-block;
	margin-right: 30px;
}
.header .nav li a {
	font-size: 12px;
	color: #80a7f7;
	text-decoration: none;
	display: block;
	padding: 30px 10px;
}
.header .nav li a:after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background-color: #6195ff;
	transition: width 0.5s;
	margin-top: 3px;
}
.header .nav li a:hover:after {
	width: 100%;
}
.home {
	height: 100vh;
	background-image: url(/images/stairs.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.home .title {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
}
.home-contant {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #fff;
	width: 50%;
}
.home-desc {
	margin: 20px 0;
	color: #fff;
	letter-spacing: 2px;
	line-height: 1.5;
}
a{
	color:inherit;
	text-align: center;
	text-decoration:none

}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}
h2{
	text-align: center;
	color: #80a7f7;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background: url(/images/cube.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 10px;
}
.login{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40, 68, 101, 0.9);
  border-radius: 10px;
}
.login {
	color:#fff;
	border-color:#80a7f7;
}
.login-form{
	min-height:350px;
	perspective:1000px;
 }
.login-form .group{
	margin-bottom:15px;
} 
.login-form .group,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group .button{
	background:#80a7f7;
}